@font-face {
	font-family: 'Minecraftia';
	src: url("fonts/Minecraftia.woff") format(woff);
}

@font-face {
	font-family: CaviarDreams;
	src: url("fonts/CaviarDreams.woff") format(woff);
}

@font-face {
	font-family: CaviarDreams;
	src: url("fonts/CaviarDreams_Bold.woff") format(woff);
	font-weight: bold;
}

body {
	background-image: url(imgs/bg.png);
	background-attatchment: fixed;
	overflow-x: hidden;
}

#content {
	width: 1150px;
	margin: 0 auto;
}

#footer {
	position: fixed;
	bottom: 0;
	text-align: center;
	width: 100%;
	margin-left: -10px;
	background-color: #191919;
	color: #fff;
	font-family: CaviarDreams;
	font-weight: bold;
	font-size: 13px;
}

#footer a {
	color: #aaa;
}

#footer a:hover {
	color: #ddd;
}

#footer a:visited {
	color: #777;
}

#footer a:visited:hover {
	color: #999;
}

#wrapper {
	background-color: rgba(50, 50, 50, 0.6);
	font-family: 'Minecraftia';
	color: #fff;
	text-shadow: 3px 3px 0px #191919;
	font-size: 24px;
	display: inline-block;
	width: 100%;
}

#left {
	float: left;
}

#right {
	float: right;
}

#wrapper #left {
	width: 20%;
	margin: 20px;
	margin-left: 40px;
}

#wrapper #right {
	width: 60%;
}

#panel {
	width: 300px;
	height: 600px;
}

.dropDown {
	font-size: 20px;
	line-height: 35px;
	width: 500px;
	position: relative;
}

.dropDown.small {
	width: 60px;
}

.dropDown  > div {
	margin-left: 50px;
}

.dropDown.small > div {
	margin-left: 0px;
}

.dropDown .shown {
	width: 400px;
}

.dropDown.small .shown {
	width: 40px;
}

.lArrow, .rArrow , .dropDown .option , .color, .dArrow, .uArrow {
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	display: inline-block;
	cursor: pointer;
}

.lArrow, .rArrow {
	height: 44px;
	width: 28px;
	margin: 0 11px;
	margin-top: -2px;
}

.lArrow {
	background-image: url(imgs/lArrow.png);
	float: left;
}

.lArrow:hover {
	background-image: url(imgs/lArrowHover.png);
}

.rArrow {
	background-image: url(imgs/rArrow.png);
	float: right;
}

.rArrow:hover {
	background-image: url(imgs/rArrowHover.png);
}

.dropDown .options {
	overflow-x: hidden;
	max-height: 120px;
	position: absolute;
	z-index: 1;
	width: 420px;
}

.dropDown.small .options {
	width: 60px;
}

.dropDown  .option , .color {
	height: 40px;
	width: 400px;
	text-align: center;
	background-image: url(imgs/box.png);
	display: block;
}

.dropDown  .option:hover {
	background-image: url(imgs/boxHover.png);
}

.dropDown.hidden .option {
	background-image: url(imgs/boxGray.png);
}

.dropDown.small .option , .color {
	width: 40px;
	background-image: url(imgs/icon.png);
}

.dropDown.small .option:hover , .color:hover, .color.selected {
	background-image: url(imgs/iconHover.png);
}

#options {
	margin-right: -100px;
}

.num:after {
	content: '.';
}

.layerSelect {
	display: block;
	max-height: 40px;
	margin-bottom: 65px;
}

.layerSelect > * {
	display: inline-block;
}

.layerSelect > div, .layerSelect .options {
	top: -37px;
	margin-top: 80px;
}

.layerSelect .dropDown.small {
	top: -29px;
}

.layerSelect > img {
	margin: 5px 0;
	background-image: url(imgs/banners/base_white.png);
}

.adjust {
	margin-bottom: 17px;
	margin-left: 20px;
}

.adjust * {
	display: block;
}

.dArrow, .uArrow {
	width: 22px;
	height: 14px;
}

.hide {
	margin-top: 5px;
	margin-left: 1px;
	width: 20px;
	height: 20px;
	background-image: url(imgs/iconSmall.png);
}

.hide img{
	position: absolute;
	margin-top: 1px;
	margin-left: 2px;
}

.hide:hover, .hide.selected {
	background-image: url(imgs/iconSmallHover.png);
}

.dArrow {
	margin-top: 5px;
	background-image: url(imgs/dArrow.png);
}

.dArrow:hover {
	background-image: url(imgs/dArrowHover.png);
}

.uArrow {
	background-image: url(imgs/uArrow.png);
}

.uArrow:hover {
	background-image: url(imgs/uArrowHover.png);
}

.layerSelect:first-child .uArrow, .layerSelect:last-child .dArrow {
	visibility: hidden;
}

.layerSelect .num {
	position: absolute;
	margin-top: 85px;
	margin-left: -30px;
}

#bgColorLabel {
	transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	position: absolute;
	top: 340px;
	left: -20px;
}

#colors {
	float: left;
	margin-top: 10px;
}

#colors  img, .val img{
	margin: 3px;
}

#panel {
	margin-left: 50px;
}

#panel > * {
	height: 660px;
	width: 330px;
	position: absolute;
}

#colorLabel {
	text-align: center;
	position: absolute;
	margin-left: -20px;
	margin-top: -4px;
}

#layerLabel {
	position: absolute;
	margin-left: 205px;
	margin-top: 34px;
}

.tooltip {
	position: fixed;
	white-space: nowrap;
	z-index: 2;
	color: #fff;
	text-shadow: 2px 2px 0 #777;
}

.tooltip.apple {
	color: #f5f;
	text-shadow: 2px 2px 0 #444;
}

.tooltip #center {
	font-family: Minecraftia;
	font-size: 24px;
	text-align: center;
	background-image: url(imgs/tooltip.png);
	background-repeat: repeat-x;
	height: 32px;
	padding: 0 5px;
}

.tooltip #center span {
	position: relative;
	top: -5px;
}

.tooltip #left, .tooltip #right {
	min-width: 4px;
	min-height: 32px;
	display: inline-block;
}

.tooltip #left {
	background-image: url(imgs/tooltip_left.png);
}

.tooltip #right {
	background-image: url(imgs/tooltip_right.png);
}

.grid .row {
	clear: both;
}

.grid .dat {
	float: left;
}

#crafting {
	clear: both;
	width: 1060px;
	position: relative;
	margin: 50px auto;
}

.recipe.hidden {
	visibility: hidden;
}

.recipe {
	background-image: url(imgs/crafting_table.png);
	height: 174px;
	width: 352px;
	display: inline-block;
	margin: 0 auto;
}

.recipe .result {
	position: relative;
	left: 80px;
	bottom: 40px;
}

.recipe img{
	margin: 0 auto;
	height: 32px;
	width: 32px;
}

.recipe .grid {
	display: inline-block;
	margin-left: 60px;
	margin-top: 34px;
}

.recipe .grid .dat {
	display: inline-block;
	height: 36px;
	width: 36px;
}

.recipe .num {
	position: absolute;
	margin-left: 15px;
}
